footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    margin-top: 30px;
    width: 100%;
    background-color: aliceblue;
}

.wip {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    text-align: center;
    margin: auto;
    
}

.small {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 2em;
}