footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.wip {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5vh;
    text-align: center;
}

.small {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 12px;
}